<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>Xtai喜泰-售后服务</title>
<link rel="stylesheet" type="text/css" href="__CSS__/fonts.css">
<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
<link rel="icon" type="image/png" href="__root__/logo.png">
<script type="text/javascript">
if(/Android (\d+\.\d+)/.test(navigator.userAgent)){
	var version = parseFloat(RegExp.$1);
	if(version>2.3){
		var phoneScale = parseInt(window.screen.width)/640;
		document.write('<meta name="viewport" content="width=640, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi">');
	}else{
		document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
	}
}else{
	document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
}
</script>
<script type="text/javascript" src="__JS__/inc/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="__JS__/main-fx.js"></script>
<script type="text/javascript" src="__JS__/app/product.js"></script>
</head>
<body>
<div class="container">
<div class="head" id="head"><p>售后服务</p><p class="cn">After Services</p></div>
<img src="__IMG__/contact.jpg">
<div class="title_product">CONTACT<span>联系我们</span></div>
<div class="txt_contactus">
    <p>您是否有关于我们产品或售后服务的任何问题？只需通过以下方式向我们致电：</p>
    <a href="tel:4001581088" class="phone">400-158-1088</a>
    <a href="mailto:cntt@china-titan.cn" class="mail">cntt@china-titan.cn</a>
</div>
</div>
</body>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded",loaded,false);
</script>
</html>
