<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" type="text/css" href="__CSS__/fonts.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/main.css">

     <style type="text/css">
      .txt_contact{padding:5px 5%;font-size:0.8em;color:#666;font-family:'微软雅黑';}
      .txt_contact p{padding-bottom:5px;}
      .txt_contact a{color:#666;}
      iframe{width:100%;height:300px;}
     @media (min-width: 300px) {iframe{height:200px !important;}} 
     @media (min-width: 375px) {iframe{height:290px !important;}} 
     @media (min-width: 410px) {iframe{height:350px !important;}} 
    </style>
    <title>Xtai喜泰－园林工具领导品牌</title>
  </head>
  <body>
   <div class="head" style="height:60px;"><p style="padding-top:5px;line-height:25px;font-size:25px;">联系我们</p><p class="cn" style="font-size:12px;">Contact Us</p></div>
<div class="txt_contact">
    <p style="padding-top:10px;"><img style="width:100%;" src="__IMG__/tlogo.png" /></p>
    <p>地址：浙江武义县黄龙工业区黄龙三路群山路8号</p>
    <p style="padding-bottom: 5px;"><a href="tel:057989083056">热线：0579-89083056</a></p>
    <p style="padding-bottom: 5px;"><a href="tel:057989083056">传真：0579-89083055</a></p>
    <p style="padding-bottom:10px;">E-mail：cntt@china-titan.cn</p>
    <p style="padding-bottom:10px;"><a href="tel:4001581088" style="font-size:1.8em;">400 158 1088</a></p>
	<div style="display:none;">http://apis.map.qq.com/uri/v1/marker?marker=coord:2893646,119.773911;title:天泰机械有限公司;addr:浙江省武义县黄龙工业区黄龙三路群山路8号&referer=myapp
http://uri.amap.com/marker?position=119.773911,2893646&name=天泰机械有限公司
</div>
</div>

<div style="width:90%;padding: 0px 5%;">
<iframe frameborder=”no” border=”0″ marginwidth=”0″ marginheight=”0″ scrolling=”no” allowtransparency=”yes” src="http://apis.map.qq.com/uri/v1/marker?marker=coord:28.887320,119.767510;title:天泰机械有限公司;addr:浙江省武义县黄龙工业区黄龙三路群山路8&referer=myapp"></iframe>
</div>
</body>
</html>
