<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<title>Xtai喜泰-视频专区</title>
<link rel="stylesheet" type="text/css" href="__CSS__/fonts.css">
<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
<link rel="icon" type="image/png" href="__root__/logo.png">
<style>
    .videos {width: 100%;padding: 10px 0px;}
    .videoo {float:left;width:50%;}
    .videoo a {color :black;}
    .video_con {text-align:center;padding-bottom:10px;}
    .left{padding-right:5px;}
    .right{padding-left:5px;}
    .videoo img {width:100%;}
    .videoo p {font-size:20px;}
</style>
<script type="text/javascript">
if(/Android (\d+\.\d+)/.test(navigator.userAgent)){
	var version = parseFloat(RegExp.$1);
	if(version>2.3){
		var phoneScale = parseInt(window.screen.width)/640;
		document.write('<meta name="viewport" content="width=640, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi">');
	}else{
		document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
	}
}else{
	document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
}
</script>
<script type="text/javascript" src="__JS__/inc/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="__JS__/main-fx.js"></script>
<script type="text/javascript" src="__JS__/app/product.js"></script>
</head>
<body>
<div class="container">
<div class="head" id="head"><p>视频专区</p><p class="cn">Videos Center</p></div>
<div class="videos">
    <div class="videoo">
	<a href="https://v.qq.com/iframe/player.html?vid=s0363qj1ojo&tiny=0&auto=0">
	<div class="video_con left">
	<img src="__IMG__/video1.jpg">
	<p>油锯冷启动</p>
	</div>
	</a>
    </div>
    <div class="videoo">
	<a href="https://v.qq.com/iframe/player.html?vid=q0363j8y1b7&tiny=0&auto=0">
	<div class="video_con right">
        <img src="__IMG__/video2.jpg">
        <p>油锯热启动</p>
	</div>
	</a>
    </div>
    <div class="videoo">
	<a href="https://v.qq.com/iframe/player.html?vid=g0363tqddki&tiny=0&auto=0">
	<div class="video_con left">
        <img src="__IMG__/video3.jpg">
        <p>油锯介绍</p>
	</div>
	</a>
    </div>
    <div class="videoo">
	<a href="https://v.qq.com/iframe/player.html?vid=e0363emr0ll&tiny=0&auto=0">
	<div class="video_con right">
        <img src="__IMG__/video4.jpg">
        <p>割灌机手柄安装</p>
	</div>
	</a>
    </div>
    <div class="videoo">
	<a href="https://v.qq.com/iframe/player.html?vid=s0363x01zm9&tiny=0&auto=0">
	<div class="video_con left">
        <img src="__IMG__/video5.jpg">
        <p>割灌机热启动</p>
	</div>
	</a>
    </div>
    <div class="videoo">
	<a href="https://v.qq.com/iframe/player.html?vid=j0363vxkqs8&tiny=0&auto=0">
	<div class="video_con right">
        <img src="__IMG__/video6.jpg">
        <p>割灌机冷启动</p>
	</div>
	</a>
    </div>
    <div style="clear:both;"></div>
</div>
<div class="title_product">CONTACT<span>联系我们</span></div>
<div class="txt_contactus">
    <p>您是否有关于我们产品或售后服务的任何问题？只需通过以下方式向我们致电：</p>
    <a href="tel:4001581088" class="phone">400-158-1088</a>
    <a href="mailto:cntt@china-titan.cn" class="mail">cntt@china-titan.cn</a>
</div>
</div>
</body>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded",loaded,false);
</script>
</html>
